
@media (max-width:1280px){
    .left-div{
      margin-bottom: 150px;
   }
}

@media (max-width:768px){
   header{
      padding-left: 10px;
      padding-right: 0;
   }
   header img{
      width: 30px;
      margin-right: 30px;
}
nav {
 margin-right: 5px;
}
.container{
      justify-content: center;
   }
   .left-div{
     margin-left: 150px;
   }

}
@media (max-width:480px){
   header{
      display: block;
      padding-top: 50px;
}
header img{
   margin-left: 50px;
   margin-bottom: 20px;
}
nav a{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   margin-left: 50px;
}

  

    .left-div{
     margin: auto auto 100px auto;
    }
    .container{
      justify-content: center;
    
    }
    .sec1-p{
      text-align: center;
    }
}